<a ui-sref="home">Home</a>
<a ui-sref="categories">Back to Categories</a>
<div>
  <h2>Current Category</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Short Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ itemsCtrl.category.name }}</td>
        <td>{{ itemsCtrl.category.short_name }}</td>
      </tr>
    </tbody>
  </table>
  <h2>Items</h2>
  <table class="table"> 
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in itemsCtrl.menu_items">
        <td>{{ item.name }}</td>
        <td>{{ item.price_large }}</td>
      </tr>
    </tbody>
  </table>
</div>