<a ui-sref="home">Home</a>
<div>
  <h2>Categories</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Short Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="category in categoriesCtrl.categories">
        <td>{{ category.name }}</td>
        <td>{{ category.short_name }}</td>
        <td>
          <button type="button" class="btn btn-primary" ui-sref="items({ categoryShortName: category.short_name })">Item
            List</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>